ion-content {
    top: 55%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%) !important;
}

ion-item{
    --background: black;
    --color: #fff;
    margin-top: 25px;
}


ion-button{
    margin-top: 25px;
    margin-left: 15%;
    width: 75%;
}